*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
form{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-transform:uppercase ;
}
.up{
   padding: 10px; 
}
.ok{
    margin: 9px;
}